.car {
  color: $color-red;
  width: 100px;
  height: 50px;
  border: 1px solid black;
}
.t {
  color: $color-blue;
}
.t1 {
  color: $color-red;
  width: 1000px;
  height: 500px;
  border: 1px solid black;
}
