.car {
  color: $color-red;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  background: url("~@/assets/bi/images/bg.png");
  &__window {
    border: 1px solid black;
    width: 30px;
    height: 20px;
  }
}

.a {
   display: flex;
   justify-content: center;
   align-content: center;
   opacity: .2;
 }

.sprite {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin-top: 40px;
}
